.container {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container_body {
  display: inline-block;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
